div(ng-controller="DosController")
  form#wallets.form-horizontal
    .form-group
      label Wallet A 
        input.form-control.wallet(type='text', placeholder='Wallet A', value='')
    .form-group
      label Wallet B   
        input.form-control.wallet(type='text', placeholder='Wallet B', value='')  
    .form-group
      button#load.btn.btn-primary Find Paths
  .col-sm-5
    .status 
  br 
  #status-0
  #status-1
  #paths

