.container
  .page-header
    h1 Ripple Data Visualization
    .menu
      a(ui-sref="main") Home
      a(ui-sref="flow") Flow of Funds
      a(ui-sref="counterparties") Counterparties
      a(ui-sref="dos") Degrees of Seperation
  div(ui-view="guest")

footer.footer
  .container
    p.text-muted In progress...
