ul
    li Flow of Funds: Given a Ripple address, see all the transactions to and from that account for each currency - issuer pair.
     |   
    li Counterparties: Given Ripple addresses, see the counterparties of each account.
     |   
    li Degrees of Seperation: Given two Ripple addresses, see the degree of seperation between those two accounts.
