h1 Ripple Monitoring &amp; Analysis
  h3
      | For specific account(s)
      ul
        li
          a(href='about') Counterparties
        li
          a(href='about') Flow of Funds
        li
          a(href='/') Trading History
        li
          a(href='/') Degrees of Separation
      h3 Other
      ul
        li
          a(href='threshold.html') Thresholds Report
        li
          a(href='gateways.html') Ripple Gateways
          |  (gateway capitalization over time)
        li
          a(href='metrics.html') Ripple Metrics
          |  (accounts created and number of ledgers over time)
        li
          a(href='bubble.html') Ripple Giveaways
        li
          a(href='balances.html') Ripple Historical Balances
      #transaction-type
